OTHER_RUNNERS_SPLITS_FOLDER="path_to_folder_with_other_runners_splits"
MY_SPLITS_FILE="path_to_your_splits_file" # .lss file
GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/{google_sheet_id}"
GOOGLE_DRIVE_FOLDER_ID=the_id_of_the_google_drive_folder_with_the_splits